<!doctype html>
<html lang="en">
    <head th:replace="~{fragments/head.html :: head}"></head>

    <body>
        <div class="container"><br/>
            <div class="alert alert-success">
                <strong>Success!</strong> Je suis le bo House
            </div>

            <tbody>
                <div th:each="house : ${houses}">
                    <th th:text="${house.id}"></th>
                    <th th:text="${house.name}"></th>
                    <div th:each="human : ${house.humans}">
                        <th th:text="${human.name}"></th>
                    </div>
                </div>
            </tbody>
        </div>
    </body>
</html> 